<div ng-cloak style="align-content: center; text-align: center">
    <div class="row ">
      <div class="col s3 m4"></div>
        <div class="col s6 m5">
            <div class="card blue-grey darken-2" style="width: 50%; align-content: center">
                <div class="card-content">
                    <span class="card-title">Login</span>
                        <form  #loginForm="ngForm" (ngSubmit)="signIn(loginForm)">
                             <h4 style="align-content: center">Username/Email:</h4><br>
                            <input type="text" placeholder="Username/Email" name="badge" [(ngModel)]="loginForm.badge" #badge="ngModel" required><br>
                            

                             <h4 style="align-content: center">Password:</h4><br>
                            <input type="password" placeholder="Password" name="password" [(ngModel)]="loginForm.password" #password="ngModel" required><br>
                            

                            <input class="btn blue-grey darken-1" type="submit" value="Sign in" style="border-radius: 10px">
                        </form>
                        <div class="card-action">
                          <button class="btn blue-grey darken-1" type="submit" style="border-radius: 10px" routerLink="/register">Register</button>
                        </div>
                </div>
            </div>
        </div>
        <div class="col s3 m4"></div>
    </div>
</div>

<p>{{loginForm.badge}}</p>
<p>{{loginForm.password}}</p>