<div ng-cloak style="align-content: center">
    <div class="row">
      <div class="col s3"></div>
        <div class="col s6 m6">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Profile</span>
                    <table>
                        <tbody>
                            <tr>
                                <th>First Name: </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Last Name: </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Phone #: </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>E-mail: </th>
                                <th></th>
                            </tr>
                            <tr>
                                <th>Username: </th>
                                <th></th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-action">
                    <a href="#/JEChat/login">Exit</a>
                </div>
            </div>
        </div>
        <div class="col s3"></div>
    </div>
</div>
